@media only screen and (max-width: 639px) {
    .instaread-player-slot {
      height: 236px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 640px) and (max-width: 767px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 873px) {
    .instaread-player-slot {
      height: 160px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 874px) and (max-width: 979px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }

  @media only screen and (min-width: 978px) and (max-width: 1023px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }

  @media only screen and (max-width: 1024px) {
    .instaread-player-slot {
      height: 160px !important;
      width: 100%;
    }
  }