@media only screen and (max-width: 722px) {
    .instaread-player-slot {
      height: 244px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 723px) and (max-width: 991px) {
    .instaread-player-slot {
      height: 160px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .instaread-player-slot {
      height: 244px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 1200px) {
    .instaread-playe-slot {
      height: 160px !important;
    }
  }