  .instaread-player-slot {
    margin: 16px 0;
  }

  @media only screen and (min-width: 656px) and (max-width: 766px) {
    .instaread-player-slot {
      height: 150px !important;
    }
  }

  @media only screen and (max-width: 655px) {
    .instaread-player-slot {
      height: 220px !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 910px) {
    .instaread-player-slot {
      height: 220px !important;
    }
  }

  @media only screen and (min-width: 911px) and (max-width: 1199px) {
    .instaread-player-slot {
      height: 150px !important;
    }
  }

  @media only screen and (min-width: 1200px) {
    .instaread-player-slot {
      height: 150px !important;
    }
  }