@media only screen and (max-width: 644px) {
  .instaread-player-slot {
    height: 236px !important;
  }
}

@media only screen and (min-width: 645px) and (max-width: 767px) {
  .instaread-player-slot {
    height: 160px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 910px) {
  .instaread-player-slot {
    height: 236px !important;
  }
}

@media only screen and (min-width: 911px) {
  .instaread-player-slot {
    height: 160px !important;
  }
}