@media only screen and (max-width: 767px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }

  @media only screen and (min-width: 768px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }