@media only screen and (max-width: 640px) {
    .instaread-player-slot {
      height: 236px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 641px) and (max-width: 767px) {
    .instaread-player-slot {
      height: 160px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .instaread-player-slot {
      height: 236px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }