@media only screen and (max-width: 767px) {
    .instaread-audio-player {
      height: 236px !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 985px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }

  @media only screen and (min-width: 986px) and (max-width: 1199px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }

  @media only screen and (min-width: 1200px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }