@media only screen and (max-width: 716px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }
  
  @media only screen and (min-width: 717px) and (max-width: 879px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }
  
     @media only screen and (min-width: 880px) and (max-width: 1005px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }

  
  @media only screen and (min-width: 1006px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }