@media only screen and (max-width: 665px) {
    .instaread-player-slot {
      height: 220px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 666px) and (max-width: 767px) {
    .instaread-player-slot {
      height: 144px !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1019px) {
    .instaread-player-slot {
      height: 220px !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: 1020px) {
    .instaread-player-slot {
      height: 144px !important;
    }
  }