@media only screen and (max-width: 660px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }

  @media only screen and (min-width: 661px) and (max-width: 767px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 990px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }

  @media only screen and (min-width: 991px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }