@media only screen and (max-width: 640px) {
    .instaread-player-slot {
          height: 236px !important;
          width: 100%;
          }
   }
@media only screen and (min-width: 641px) {
       .instaread-player-slot {
             height: 160px !important;
             }
         }