@media only screen and (max-width: 684px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }
  @media only screen and (min-width: 685px) and (max-width: 1024px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width: 1079px) {
    .instaread-player-slot {
      height: 236px !important;
    }
  }
  @media only screen and (min-width: 1078px) {
    .instaread-player-slot {
      height: 160px !important;
    }
  }