@media only screen and (max-width: 620px) {
  .instaread-player-slot {
    height: 236px !important;
  }
}

@media only screen and (min-width: 621px) {
  .instaread-player-slot {
    height: 160px !important;
  }
}